* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f3ef;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #ff6a00;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: #ff6a00;
    color: white;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 60px;
}

.hero-text h1 span {
    color: #ff6a00;
    font-weight: 700;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
    color: #666;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-primary {
    background: #ff6a00;
    color: white;
    padding: 12px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary {
    background: white;
    border: 2px solid #ff6a00;
    color: #ff6a00;
    padding: 12px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

/* HERO IMAGE */
.hero-img {
    position: relative;
}

.hero-img img {
    width: 380px;
    border-radius: 50%;
}

.discount {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #79d861;
    color: white;
    padding: 15px 20px;
    font-weight: 700;
    border-radius: 50%;
}

/* FOOD SLIDER */
.food-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.cards-container {
    display: flex;
    gap: 25px;
}

.food-card {
    width: 180px;
    padding: 20px;
    border-radius: 22px;
    text-align: center;
    color: white;
}

.food-card img {
    width: 150px;     /* or your size */
    height: 150px;    /* match width */
    border-radius: 50%;
    object-fit: cover;
}

.food-card.orange { background: #ff9c57; }
.food-card.green { background: #7fd97a; }
.food-card.purple { background: #8f80ff; }



