* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f3ef;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #ff6a00;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
    background: #ff6a00;
    color: white;
}


.header-section {
    padding: 50px 60px 20px;
}

.header-text h1 {
    font-size: 42px;
    color: #333;
}

.header-text h1 span {
    color: #ff6a00;
    font-weight: 700;
}

.header-text p {
    margin-top: 10px;
    color: #666;
    font-size: 18px;
}

/* MAP + BOX */
.location-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    gap: 40px;
}

#map {
    height: 480px;
    width: 65%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* WEATHER */
.weather-card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    margin-bottom: 20px;
}

.weather-input {
    width: 80%;
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #a9e3d9;
    outline: none;
    font-size: 16px;
}

.weather-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #33a5ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.weather-result {
    background: #f6f6f6;
    padding: 18px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

/* SEARCH BOX */
.search-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 420px;
    margin: 10px auto;
}

.result-box {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.container {
    background: white;
    border-radius: 20px;
    padding: 30px;
    width: 350px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0.03);
}

div {
    display: block;
    unicode-bidi: isolate;
}
